
#defaultSetting{
    display: flex;
    justify-content: space-between;
    background-color: darkgray;
    border: thin solid blanchedalmond;
}

#uml-rightclick-menu {
    position: fixed;
    z-index: 9999; /* Most times is 2000 used as middle */
    visibility: hidden;
    opacity: 0;
    
    padding: 0px;
    font-family: sans-serif;
    font-size: 11px;
    background: #fff;
    color: #555;
    border: 1px solid #C6C6C6;
    
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    
    -webkit-box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
    box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
  }
  
  #uml-rightclick-menu a {
    display: block;
    color: #555;
    text-decoration: none;
    padding: 6px 8px 6px 30px;
    width: 250px;
    position: relative;
  }
  
  #uml-rightclick-menu a img,
  #uml-rightclick-menu a i.fa {
    height: 20px;
    font-size: 17px;
    width: 20px;
    position: absolute;
    left: 5px;
    top: 2px;
  }
  
  #uml-rightclick-menu a span {
    color: #BCB1B3;
    float: right;
  }
  
  #uml-rightclick-menu a:hover {
    color: #fff;
    background: #3879D9;
  }
  
  #uml-rightclick-menu hr {
    border: 1px solid #EBEBEB;
    border-bottom: 0;
  }

  .uml-class-section {
    height: 45px;
    width: auto;
    background-color: darkgray;
    border: 1px solid aliceblue;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }

  .uml-instance-section {
    height: 200px;
    width: auto;
    background-color: darkgray;
    border: 1px solid aliceblue;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }

  .uml-method-section {
    height: 200px;
    width: auto;
    background-color: darkgray;
    border: 1px solid aliceblue;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
  
#dragableUMLClassOptions {
	background-color: darkgrey;
	width: auto;
	height: 200px;
	border: thin solid blanchedalmond;
}
#dragableUMLClassOptions a{
  float: left;
  width: 85px;
  height: 70px;
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
  display: flex;
}

#dragableUMLClassOptions a img,
 #dragableUMLClassOptions a i.fa {
    height: 25px;
    font-size: 17px;
    width: 25px;
  }

#dragableUMLClassOptions a span {
    padding-left: 10px;
  }